<section id="pricing-section" class="g-bg-secondary g-pos-rel">
  <svg class="g-pos-rel g-top-minus-120 g-svg" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100">
    <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.4" fill="#f0f1f3">
    </path>
    <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.4" fill="#f0f1f3">
    </path>
    <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0" fill="#fafbfc">
    </path>
    <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#fafbfc">
    </path>
  </svg>
  <div class="container">
    <div class="g-max-width-250">
      <h2 class="g-about-h2">Pricing</h2>
      <span>Full-suspension: Add $65.00</span>
      <p>Carbon frames: Add $65.00</p>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-sm-6 col-md-4 col-lg-3 g-hidden-sm-down g-mr-minus-30 g-mb-50">
        <!-- Pricing  List-->
        <div class="u-shadow-v28 g-bg-white rounded g-px-30 g-pt-40 g-pb-40">
          <ul class="list-unstyled g-color-text mb-0">
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-color-main g-font-weight-500 g-py-15">
              Color Scheme
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              Rebuild
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              Standard Prep
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              Limited Prep
            </li>
          </ul>
        </div>
        <!-- End Pricing List-->
      </div>
      <!--Single Color-->
      <div class="col-sm-6 col-md-4 col-lg-3 g-ml-minus-30--md g-mb-50">
        <div class="u-shadow-v28 g-bg-white rounded g-px-30 g-pt-40 g-pb-40">
          <ul class="list-unstyled g-color-text mb-0">
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-color-main g-font-weight-500 g-py-15">
              Single Color
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $700.00
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $425.00
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $350.00
            </li>
          </ul>
        </div>
      </div>
      <!--End Single Color-->
      <!--Two-color Fade-->
      <div class="col-sm-6 col-md-4 col-lg-3 g-ml-minus-30--md g-mb-50">
        <div class="u-shadow-v28 g-bg-white rounded g-px-30 g-pt-40 g-pb-40">
          <ul class="list-unstyled g-color-text mb-0">
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-color-main g-font-weight-500 g-py-15">
              Two-color Fade
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $1050.00
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $550.00
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $475.00
            </li>
          </ul>
        </div>
      </div>
      <!--End Two-color Fade-->
      <!--Bespoke-->
      <div class="col-sm-6 col-md-4 col-lg-3 g-ml-minus-30--md g-mb-50">
        <div class="u-shadow-v28 g-bg-white rounded g-px-30 g-pt-40 g-pb-40">
          <ul class="list-unstyled g-color-text mb-0">
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-color-main g-font-weight-500 g-py-15">
              Bespoke
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $1150.00+
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $650.00+
            </li>
            <li class="g-brd-bottom g-brd-secondary-light-v1 g-py-15">
              $575.00+
            </li>
          </ul>
        </div>
      </div>
      <!--End Bespoke-->
    </div>
  </div>
</section>
