<section id="services">
  <div class="container">
      <div class="text-uppercase text-center our_work_header">
          <h2 class="d-inline-block">OUR SERVICES</h2>
          <p>FUSCE DOLOR LIBERO, EFFICITUR ET LOBORTIS AT</p>
        </div>
        <div class="row">
          <div class="col-lg-6 main_services">
            <article class="media d-block service_block d-md-flex">
              <div class="service_side d-md-flex align-self-center">
                <img class="w-100" src="../../assets/img/img4.jpg">
              </div>
              <div class="media-body service_content align-self-center">
                <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">
                    PHOTO SESSIONS FOR MEN
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur sdgaaa adipiscing elit, sed do eius fgtrrwe mod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </article>
          </div>
          <div class="col-lg-6 main_services">
              <article class="media d-block service_block d-md-flex">
                <div class="service_side d-md-flex align-self-center">
                  <img class="w-100" src="../../assets/img/img4.jpg">
                </div>
                <div class="media-body service_content align-self-center">
                  <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">
                      PHOTO SESSIONS FOR MEN
                  </h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur sdgaaa adipiscing elit, sed do eius fgtrrwe mod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 main_services">
              <article class="media d-block service_block d-md-flex">
                <div class="service_side d-md-flex align-self-center">
                  <img class="w-100" src="../../assets/img/img4.jpg">
                </div>
                <div class="media-body service_content align-self-center">
                  <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">
                      PHOTO SESSIONS FOR MEN
                  </h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur sdgaaa adipiscing elit, sed do eius fgtrrwe mod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </article>
            </div>
            <div class="col-lg-6 main_services">
                <article class="media d-block service_block d-md-flex">
                  <div class="service_side d-md-flex align-self-center">
                    <img class="w-100" src="../../assets/img/img4.jpg">
                  </div>
                  <div class="media-body service_content align-self-center">
                    <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">
                        PHOTO SESSIONS FOR MEN
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur sdgaaa adipiscing elit, sed do eius fgtrrwe mod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </article>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 main_services">
                <article class="media d-block service_block d-md-flex">
                  <div class="service_side d-md-flex align-self-center">
                    <img class="w-100" src="../../assets/img/img4.jpg">
                  </div>
                  <div class="media-body service_content align-self-center">
                    <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">
                        PHOTO SESSIONS FOR MEN
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur sdgaaa adipiscing elit, sed do eius fgtrrwe mod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </article>
              </div>
              <div class="col-lg-6 main_services">
                  <article class="media d-block service_block d-md-flex">
                    <div class="service_side d-md-flex align-self-center">
                      <img class="w-100" src="../../assets/img/img4.jpg">
                    </div>
                    <div class="media-body service_content align-self-center">
                      <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">
                          PHOTO SESSIONS FOR MEN
                      </h3>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur sdgaaa adipiscing elit, sed do eius fgtrrwe mod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                    </div>
                  </article>
                </div>
            </div>
  </div>
</section>