#contact {

    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    color: #bbb !important;
}

.contact_side {

    margin-bottom: 0 !important;
}

.u-heading{
    margin-bottom: 1.07143rem !important;

}
.u-heading h2 {

    margin-bottom: -1.07143rem !important;
    color: #333 !important;
    font-weight: 600;
    font-size: 0.85714rem !important;

}

.u-heading-v2-2--bottom::after, .u-heading-v2-2--top::before {
    width: 2.71429rem;
    border-top-width: 5px;
    margin-top: 1.78571rem;
}

.contact_side p {

    color: #a4a4a4;
    margin-bottom: 4.28571rem !important;
    letter-spacing: 0.10714rem;
    margin-top: 50px;
}

.contact_side img {

    max-width: 100%;
    height: auto;
}

.form-group input , .form-group textarea {

    border: 0;
    border-bottom: 1px solid;
    border-radius: 0px;
}