<section id="processes-section" class="g-py-80">
  <!--<svg class="g-pos-rel g-top-minus-120 g-svg" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100">-->
    <!--<path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.4" fill="#f0f1f3">-->
    <!--</path>-->
    <!--<path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.4" fill="#f0f1f3">-->
    <!--</path>-->
    <!--<path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0" fill="#fafbfc">-->
    <!--</path>-->
    <!--<path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#fafbfc">-->
    <!--</path>-->
  <!--</svg>-->
  <div class="container">
    <div class="g-max-width-250">
      <h2 class="g-about-h2">Our Processes</h2>
    </div>

    <!-- Icon Blocks -->
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-ml-minus-1 g-transition-0_2 g-transition--ease-in">
        <!-- Icon Blocks -->
        <div class="text-center g-px-10 g-px-30--lg g-py-40 g-transition-0_2 g-transition--ease-in">
                <span class="d-block g-color-primary g-font-size-40 g-mb-15">
                  <i class="icon-energy"></i>
                </span>
          <h3 class="h5 text-uppercase g-color-black g-mb-10">Limited Prep</h3>
          <p class="g-color-gray-dark-v4">Bare frame in good condition with all components and bearings removed.</p>

          <div class="d-inline-block g-width-40 g-brd-bottom g-brd-2 g-brd-primary g-my-15"></div>

          <ul class="list-unstyled g-mb-0">
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Bike surface prepped for paint</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Color scheme of your choice</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Clear coat</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Surface polishing</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-6 col-lg-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-ml-minus-1 g-transition-0_2 g-transition--ease-in">
        <!-- Icon Blocks -->
        <div class="text-center g-px-10 g-px-30--lg g-py-40 g-transition-0_2 g-transition--ease-in">
                <span class="d-block g-color-primary g-font-size-40 g-mb-15">
                  <i class="icon-layers"></i>
                </span>
          <h3 class="h5 text-uppercase g-color-black g-mb-10">Standard Prep</h3>
          <p class="g-color-gray-dark-v4">Frame in good condition with all components removed.</p>

          <div class="d-inline-block g-width-40 g-brd-bottom g-brd-2 g-brd-primary g-my-15"></div>

          <ul class="list-unstyled g-mb-0">
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Bike surface prepped for paint</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Color scheme of your choice</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Removal of headset</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Removal of any bearings</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Removal of bottom bracket</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Clear coat</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Surface polishing</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-6 col-lg-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-ml-minus-1 g-transition-0_2 g-transition--ease-in">
        <!-- Icon Blocks -->
        <div class="text-center g-px-10 g-px-30--lg g-py-40 g-transition-0_2 g-transition--ease-in">
                <span class="d-block g-color-primary g-font-size-40 g-mb-15">
                  <i class="icon-social-youtube"></i>
                </span>
          <h3 class="h5 text-uppercase g-color-black g-mb-10">Rebuild</h3>
          <p class="g-color-gray-dark-v4">Complete rebuild. Must supply replacement bearings for reassembly.</p>

          <div class="d-inline-block g-width-40 g-brd-bottom g-brd-2 g-brd-primary g-my-15"></div>

          <ul class="list-unstyled g-mb-0">
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Bike surface prepped for paint</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Color scheme of your choice</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Removal of all components</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Removal of headset</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Removal of any bearings</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Removal of bottom bracket</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Clear coat</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Surface polishing</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <!-- End Icon Blocks -->
  </div>
</section>
