.g-py-0 {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.g-pos-rel {
    position: relative !important;
}
.g-brd-secondary-light-v1 {
    border-color: #f0f1f3 !important;
}
