<div class="g-bg-size-cover g-bg-img-hero text-center g-py-170" style="background-image: url(../../assets/img/video_img.jpg);">
  <a class="js-fancybox u-icon-v3 u-icon-size--xl u-block-hover--scale g-overflow-inherit g-bg-white g-color-gray-dark-v1 g-color-primary--hover g-font-size-20 rounded-circle g-text-underline--none--hover g-cursor-pointer mb-3" href="javascript:;" data-src="//vimeo.com/167434033" data-caption="Video">
    <i class="fa fa-play g-pos-rel g-left-2"></i>
  </a>
  <span class="lead d-block video_content_text">Watch Unify Video</span>
</div>