<div class="container" id="team-section">
  <div class="text-center g-mb-70 g-mt-70">
    <h2 class="g-font-weight-400">The Creative Team</h2>
    <p class="g-font-size-16">We're an ambitious workaholic, but apart from that, pretty simple persons.</p>
  </div>
  <ngx-carousel [inputs]="carouselTileOne" (carouselLoad)="carouselTileOneLoad()">
    <ngx-tile NgxCarouselItem *ngFor="let tile of carouselTileOneItems; let i = index;">
      <div class="wBg">
        <div class="tile" [style.background]="'url(' + tile + ')'">
          <h1>{{i}}</h1>
        </div>
        <h4>Tile</h4>
        <p>content</p>
      </div>
    </ngx-tile>
    <button NgxCarouselPrev class="leftRs">&lt;</button>
    <button NgxCarouselNext class="rightRs">&gt;</button>
  </ngx-carousel>
</div>