<div class="g-bg-secondary g-pos-rel">
    <!-- SVG Background -->
    <svg class="g-pos-rell g-top-minus-120" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100">
      <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
  c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.4" fill="#f0f1f3"></path>
      <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.4" fill="#f0f1f3"></path>
      <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
  H42.401L43.415,98.342z" opacity="0" fill="#fafbfc"></path>
      <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
  c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#fafbfc"></path>
    </svg>
    <!-- End SVG Background -->

    <!-- Counters -->
    <div id="pricing-section" class="container g-pb-70">
      <!-- Heading -->
      <div class="text-center g-mb-70">
        <h2 class="g-font-weight-400" style="font-weight: 400 !important;">Competitive Advantages</h2>
        <p class="g-font-size-16">Every purchase of our product is secured by placing a first lien on the item.</p>
      </div>
      <!-- End Heading -->

      <div class="row g-pb-100">
        <div class="col-sm-6 col-lg-3 g-mb-50">
          <div class="text-center">
            <div class="d-block">
              <span class="g-color-primary g-font-weight-500 g-font-size-30">№</span>
              <span class="js-counter g-color-primary g-font-weight-500 g-font-size-40">1</span>
            </div>
            <h3 class="d-block g-color-text g-font-weight-400 g-font-size-16 mb-0">Theme on WrapBootstrap</h3>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 g-mb-50">
          <div class="text-center">
            <span class="js-counter g-color-primary d-block g-font-weight-500 g-font-size-40">4</span>
            <h3 class="d-block g-color-text g-font-weight-400 g-font-size-16 mb-0">Years in Business</h3>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 g-mb-50">
          <div class="text-center">
            <span class="js-counter g-color-primary d-block g-font-weight-500 g-font-size-40">10</span>
            <h3 class="d-block g-color-text g-font-weight-400 g-font-size-16 mb-0">Creative Workers</h3>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 g-mb-50">
          <div class="text-center">
            <span class="js-counter g-color-primary d-block g-font-weight-500 g-font-size-40">50</span>
            <h3 class="d-block g-color-text g-font-weight-400 g-font-size-16 mb-0">Projects Completed</h3>
          </div>
        </div>
      </div>
    </div>
  </div>