.u-header {

    bottom: auto;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 0.92857rem;
    z-index: 101;
}

.u-header_section {
    z-index: 5;
    padding-top: 1.64286rem !important;
    padding-bottom: 1.64286rem !important;
    background-color: #fff !important;
    position: relative;
}
.u-header_sectionn {
    z-index: 5;
    padding-top: 0.64286rem !important;
    padding-bottom: 0.64286rem !important;
    background-color: #fff !important;
    position: relative;
}
.u-header__logo{

    display: inline-block;
    position: static;
    z-index: 1;
}
a{

    color: #6ab8ee;
    outline: none;
}
.u-header__logo-img {
    top: 0;
    left: 0;
    transition: .3s ease;
    height: 50px;
    width: 50px;
}
.g-py-0 {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.g-pos-rel {
    position: relative !important;
}
.g-pt-0--lg{

    padding-top: 0px !important;
}
.g-letter-spacing-1{
    font-size: 0.85714rem !important;
}
.g-mr-15--lg {
    margin-right: 2.07143rem !important;
}
.g-mb-0--lg{
    margin-bottom: 0 !important;
}
.g-mx-15--lg {
    margin-left: 1.07143rem !important;
    margin-right: 1.07143rem !important;
}
.g-font-size-12 {
    font-size: 13px !important;
}
.nav-link {
    color: #12222d;
}

.u-header__section .navbar-nav:not([class*="u-main-nav-v"]) .open > .nav-link, .u-header__section .navbar-nav:not([class*="u-main-nav-v"]) .active > .nav-link, .u-header__section .navbar-nav:not([class*="u-main-nav-v"]) .nav-link.open, .u-header__section .navbar-nav:not([class*="u-main-nav-v"]) .nav-link.active, .u-header__section--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .open > .nav-link, .u-header__section--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .active > .nav-link, .u-header__section--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link.open, .u-header__section--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link.active{

    color: #6ab8ee;
}