<header id="header-section" class="u-header">
  <div class="u-header_section">
    <nav class="navbar navbar-expand-lg g-py-0">
      <div class="container g-pos-rel">
        <a href="#!" class=" navbar-brand u-header__logo" data-type="static" style="display: inline-block; position: static;">
          <img class="u-header__logo-img u-header__logo-img--main g-width-90" src="../assets/img/logo.png" alt="Image description">
        </a>
        <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
          <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-letter-spacing-1 g-font-size-12 g-pt-20 g-pt-0--lg ml-auto">
            <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
              <a href="#home-section" class="nav-link p-0">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg active">
              <a href="#about-section" class="nav-link p-0">About</a>
            </li>
            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
              <a href="#portfolio-section" class="nav-link p-0">Portfolio</a>
            </li>
            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
              <a href="#pricing-section" class="nav-link p-0">Pricing</a>
            </li>
            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
              <a href="#team-section" class="nav-link p-0">Team</a>
            </li>
            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
              <a href="#blog-section" class="nav-link p-0">Blog</a>
            </li>
            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
              <a href="#contact-section" class="nav-link p-0">Contact</a>
            </li>
            <li class="nav-item g-ml-15--lg">
              <a href="../../index.html" class="nav-link p-0">Main</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>