.dzsparallaxer {

    height: auto;
    padding: 0 !important;
    height: 300px;
    overflow: hidden;
    background-color: #1c1a17;
    position: relative;
    transition-property: height;
    transition-duration: 0.3s;
    -moz-transition-property: height;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.3s;
    -o-transition-property: height;
    -o-transition-duration: 0.3s;
    -ms-transition-property: height;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    min-height: 100vh;
    position: relative;

}
.divimage {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.7s;
    -moz-transition-property: opacity, visibility;
    -moz-transition-duration: 0.7s;
    -webkit-transition-property: opacity, visibility;
    -webkit-transition-duration: 0.7s;
    -o-transition-property: opacity, visibility;
    -o-transition-duration: 0.7s;
    -ms-transition-property: opacity, visibility;
    -ms-transition-duration: 0.7s;
    -ms-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    height: 115%;
    background-image: url(../../assets/img/brusy-design-logo.jpg);
    transform: translate3d(0px, -47.7735px, 0px);
    position: absolute;

    opacity: 1;
    visibility: visible;

    background-size: cover;
    background-position: center center;
    width: 100%!important;
}

.g-bg-cover__inner{

    z-index: 1;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-backface-visibility: hidden;
}


.g-inner-content {

    margin-top: 5.57143rem !important;
    z-index: 1;
    position: relative !important;
}
.g-inner-text {

    margin-bottom: 3.57143rem !important;
    color: #fff !important;
    font-weight: 300 !important;
    font-size: 3.57143rem !important;
    line-height: 1.4;
}

.g-mb-30--md {

    margin-bottom: 2.14286rem !important;
}

.side-icon {

    padding: 0.85714rem !important;
    height: 50px;
    width: 50px !important;
    color: #fff !important;
    position: relative !important;
    line-height: 1 !important;
    font-size: 1.85714rem !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    transition: all .2s ease-in-out;
    text-align: center;
    margin-right: 1rem!important;
    display: flex!important;
    border-radius: 50%!important;
}
.icon-i {

    transform: translateY(-45%);
    z-index: 2;
    position: relative;
    top: 50%;
    display: block;
}
.g-media-span {
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 2.14286rem !important;

}
.g-media-h2 {
    color: rgba(255, 255, 255, 0.9) !important;
    line-height: 1.4;
}
