<div id="home-section" class="dzsparallaxer  g-bg-cover ">
  <div class="divimage">
    <div class="g-bg-cover__inner w-100">
      <div class="container g-inner-content ">
        <div class="row align-items-center">
          <div class="col-sm-10 col-lg-8">
            <h1 class="g-inner-text">Brushy Design Template</h1>
            <div class="row">
              <div class="col-md-6 g-mb-30--md">
                <div class="media">
                  <span class="side-icon">
                    <i class="icon-i"></i>
                  </span>
                  <div class="media-body">
                    <span class="g-media-span  ">31500+</span>
                    <h2 class="lead g-media-h2">Happy clients all over the world</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-6 g-mb-30--md">
                <div class="media">
                  <span class="side-icon">
                    <i class="icon-i"></i>
                  </span>
                  <div class="media-body">
                    <span class="g-media-span  ">31500+</span>
                    <h2 class="lead g-media-h2">Happy clients all over the world</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-6 g-mb-30--md">
                <div class="media">
                  <span class="side-icon">
                    <i class="icon-i"></i>
                  </span>
                  <div class="media-body">
                    <span class="g-media-span  ">31500+</span>
                    <h2 class="lead g-media-h2">Happy clients all over the world</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-6 g-mb-30--md">
                <div class="media">
                  <span class="side-icon">
                    <i class="icon-i"></i>
                  </span>
                  <div class="media-body">
                    <span class="g-media-span  ">31500+</span>
                    <h2 class="lead g-media-h2">Happy clients all over the world</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>