<section id="about-section" class="g-bg-secondary g-pos-rel">
  <svg class="g-pos-rel g-top-minus-120 g-svg" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100">
    <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.4" fill="#f0f1f3">
    </path>
    <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.4" fill="#f0f1f3">
    </path>
    <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0" fill="#fafbfc">
    </path>
    <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#fafbfc">
    </path>
  </svg>
  <div class="container">
    <div class="g-max-width-250">
      <h2 class="g-about-h2">What we do</h2>
    </div>
    <div class="row g-about-plan justify-content-between">
      <div class="col-sm-6 col-lg-3 g-offset-lg-4 g-mb-30">
        <p>Bring your bike completely assembled to us. We professionally disassemble, prepare for paint, and reassemble your bike.</p>
      </div>
      <div class="col-sm-6 col-lg-4 g-mb-30">
        <div class="g-pos-rel">
          <img class="img-fluid" src="../../assets/img/overhaul.png" alt="Image Description">
          <!--<div class="g-about-img-text">Overhaul</div>-->
        </div>
      </div>
    </div>
    <div class="row  g-about-plan">
      <div class="col-sm-6 order-2 col-lg-3 g-offset-lg-1  g-mb-30">
        <p>Sit down with us to bring your vision to reality. We start with your ideas and develop the necessary assets to make it happen.</p>
      </div>
      <div class="col-sm-6 order-1 col-lg-4 g-offset-lg-1 g-mb-30">
        <div class="g-pos-rel">
          <img class="img-fluid" src="../../assets/img/design.jpg" alt="Image Description">
          <!--<div class="g-about-img-text g-left-auto&#45;&#45;sm g-right-minus-20&#45;&#45;sm">Design</div>-->
        </div>
      </div>
    </div>
    <div class="row  g-about-plan justify-content-between">
      <div class="col-sm-6  col-lg-3 g-offset-lg-4 g-mb-30">
        <strong></strong>
        <p>A simple refresh of the surface with a solid color or a fade.</p>
      </div>
      <div class="col-sm-6  col-lg-4 g-mb-30">
        <div class="g-pos-rel">
            <img class="img-fluid" src="../../assets/img/repaint.png" alt="Image Description">
        </div>
      </div>
    </div>
    <div class="row  g-about-plan">
      <div class="col-sm-6 order-2 col-lg-3 g-offset-lg-1 g-mb-30">
        <p>Completely custom design based on your graphics or what we design together.</p>
      </div>
      <div class="col-sm-6 order-1 g-offset-lg-1 col-lg-4 g-mb-30">
        <div class="g-pos-rel">
          <img class="img-fluid" src="../../assets/img/bespoke.jpg" alt="Image Description">
          <!--<div class="g-about-img-text g-left-auto&#45;&#45;sm g-right-minus-20&#45;&#45;sm">Bespoke</div>-->
        </div>
      </div>
    </div>
  </div>
  <!--<div class="hidden-lg-down ">-->
    <!--<img class="img-fluid" src="../../assets/img/cassette.png" alt="Image Description">-->
  <!--</div>-->
  <!--<svg class="g-pos-rel g-bottom-minus-20" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="0 0 300 100">-->
      <!--<path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.25" fill="#f0f1f3">-->
      <!--</path>-->
      <!--<path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.25" fill="#f0f1f3">-->
      <!--</path>-->
      <!--<path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0" fill="#fff">-->
      <!--</path>-->
      <!--<path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#fff">-->
      <!--</path>-->
  <!--</svg>-->
</section>
