.g-bg-size-cover {
    background-size: cover !important;
}
.g-bg-pos-center {
    background-position: center;
}
.g-py-120 {
    padding-top: 8.57143rem !important;
    padding-bottom: 8.57143rem !important;
}
.g-px-30 {
    padding-left: 2.14286rem !important;
    padding-right: 2.14286rem !important;
}
.g-max-width-645 {
    max-width: 645px;
}
.g-z-index-1 {
    z-index: 1;
}
.g-pos-rel {
    position: relative !important;
}
.g-font-weight-400 {
    font-weight: 400 !important;
}
.g-py-14 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}


.g-px-30 {
    padding-left: 2.14286rem !important;
    padding-right: 2.14286rem !important;
}
.g-min-width-170 {
    min-width: 170px;
}
.g-font-weight-500 {
    font-weight: 500 !important;
}
.g-font-size-13 {
    font-size: 0.92857rem !important;
}
.g-rounded-30 {
    border-radius: 30px !important;
}
.u-btn-primary {
    color: #fff;
    background-color: #6ab8ee;
}
.btn {
    position: relative;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    cursor: pointer;
}
.clr_white {
    color: white;
}
a:hover {
    background-color: #95cdf5

}