<section class="g-bg-size-cover g-bg-pos-center" style="background-image: url(../../assets/img/action_img.jpg);background-attachment: fixed;">
  <div class="g-max-width-645 text-center g-pos-rel g-z-index-1 mx-auto g-px-30 g-py-120">
    <h2 class="h1 g-font-weight-400 clr_white mb-5">Unify completes every project with experience hand.</h2>
    <a class="btn u-btn-primary g-min-width-170 g-font-weight-500 g-font-size-13 text-uppercase g-rounded-30 g-px-30 g-py-14" href="#!">Get Started</a>
  </div>
</section>