<div class="container g-pos-rel g-z-index-1 g-pb-80">
    <div class="js-carousel slick-initialized slick-slider" data-infinite="true" data-autoplay="true" data-lazy-load="ondemand" data-slides-show="6" data-responsive="[{
           &quot;breakpoint&quot;: 1200,
           &quot;settings&quot;: {
             &quot;slidesToShow&quot;: 6
           }
         }, {
           &quot;breakpoint&quot;: 992,
           &quot;settings&quot;: {
             &quot;slidesToShow&quot;: 5
           }
         }, {
           &quot;breakpoint&quot;: 768,
           &quot;settings&quot;: {
             &quot;slidesToShow&quot;: 4
           }
         }, {
           &quot;breakpoint&quot;: 576,
           &quot;settings&quot;: {
             &quot;slidesToShow&quot;: 2
           }
         }, {
           &quot;breakpoint&quot;: 446,
           &quot;settings&quot;: {
             &quot;slidesToShow&quot;: 1
           }
         }]">
      

      

      

      

      

      

      
    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3100px; transform: translate3d(-1550px, 0px, 0px);"><div class="js-slide u-block-hover slick-slide slick-cloned" style="width: 155px;" data-slick-index="-6" aria-hidden="true" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      
      
      <div class="js-slide u-block-hover slick-slide" style="width: 155px; height: auto;" data-slick-index="1" aria-hidden="true" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-current slick-active" style="width: 155px; height: auto;" data-slick-index="4" aria-hidden="false" tabindex="0">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-active" style="width: 155px; height: auto;" data-slick-index="5" aria-hidden="false" tabindex="0">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-active" style="width: 155px; height: auto;" data-slick-index="6" aria-hidden="false" tabindex="0">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-cloned slick-active" style="width: 155px;" data-slick-index="7" aria-hidden="false" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-cloned slick-active" style="width: 155px;" data-slick-index="8" aria-hidden="false" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-cloned slick-active" style="width: 155px;" data-slick-index="9" aria-hidden="false" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-cloned" style="width: 155px;" data-slick-index="10" aria-hidden="true" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-cloned" style="width: 155px;" data-slick-index="11" aria-hidden="true" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-cloned" style="width: 155px;" data-slick-index="12" aria-hidden="true" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
      <div class="js-slide u-block-hover slick-slide slick-cloned" style="width: 155px;" data-slick-index="13" aria-hidden="true" tabindex="-1">
        <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" alt="Image description" src="../../assets/img/img.png" style="opacity: 1;">
      </div>
    </div>
  </div>
</div>
  </div>