<section id="topWorks" class="our_work">
  <div class="container">
    <div class="text-uppercase text-center our_work_header">
      <h2 class="d-inline-block">OUR TOP WORKS</h2>
      <p>FUSCE DOLOR LIBERO, EFFICITUR ET LOBORTIS AT</p>
    </div>
    <div class="row" >
      <div class = "col-md-2 g-mb-40 g-mb-0--md work_imgs">
        <h4 class="h6 text-uppercase">Categories</h4>
        <ul id="topWorksCubePortfolioFilter" class="nav d-block text-uppercase">
            <li class=" nav-item ">
              <span class="nav-link">
                <span>01.</span>
                ALL
              </span>
            </li>
            <li class=" nav-item ">
                <span class="nav-link">
                  <span>02.</span>
                  NATURE
                </span>
            </li>
            <li class=" nav-item ">
                <span class="nav-link">
                  <span>01.</span>
                  WORK
                </span>
            </li>
            <li class=" nav-item ">
                <span class="nav-link">
                  <span>01.</span>
                  ABSTRACT
                </span>
            </li>
            <li class=" nav-item ">
                <span class="nav-link">
                  <span>01.</span>
                  INSPIRE
                </span>
            </li>
            <li class=" nav-item ">
              <span class="nav-link">
                <span>01.</span>
                CITY
              </span>
            </li>
        </ul>
      </div>
      <div class="col-md-10">
        <div id="topWorksCubePortfolio" class="top_work_portfolio">
          <div class="top_work_inner">
            <div class="work_gallery">
              <div class="grid">
              <div *ngFor="let image of data; let i = index"
              (click)="gallery.open(i)">
              <img [src]="image[i].pics[i]"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</section>
